<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dxp">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".activity.MainActivityListView"/>
        <activity android:name=".activity.MainActivityGridView"/>
        <activity android:name=".activity.MainActivityRecycleView"/>
        <activity android:name=".activity.MainActivityScrollView"/>
        <activity android:name=".activity.MainActivityWebView"/>
        <activity android:name=".activity.MainActivitySwipeView"/>
        <activity android:name=".activity.MainActivitySwipeView2"/>


    </application>

</manifest>